# Introduction to Python

- Variable
- Data Type Primary
  - Number
    - Integer
    - Float
  - String
  - Boolean
- Data Type Array (Collections of Data)
  - List
  - Tuple
  - Dictionary
  - Set
- Operation

---

Nama :  Angger Rizky Firdaus  
Batch :  HCK-012

---

In [1]:
# Run this block code
# pagar ini untuk komen  sebuah syntax
print("HELLO")

# print("WORLD")

HELLO

# Variable

Rules dari membuat nama variable:
- Dimulai dengan huruf
- Perhatikan plural / singular jika dalam bahasa inggris
- bisa camelCase, PascalCase, snake_case tidak kebab-case.


Buatlah 3 variable yaitu:
- variable name dan isi dengan namamu
- variable favoriteNumber isi dengan angka kesukaanmu
- variable isHungry dan isi True jika kamu lapar dann False jika kamu tidak lapar

In [2]:
# Code dibawah ini

name = "angger"  
favoriteNumber = 24  
isHungry = False

# Data Type Primary

## Data Type Number

Terdapat Integer dan Float

In [19]:
# Latihan kode disini (Ikuti dalam kelas)

# Integer = 12345 
# float = 1,1 1,2 1,3 

print(favoriteNumber)
print(type(favoriteNumber))
print(favoriteNumber==favoriteNumber) 
print(favoriteNumber==100)  # == equal, > >= < <= bigger/lower than , != not equal

favoriteNumber= 50 # reassginment
print(favoriteNumber)

favoriteNumber = favoriteNumber + 5

# favoriteNumber dikurangi 10%
favoriteNumber = favoriteNumber - (favoriteNumber / 10)
print(favoriteNumber)

49.5
<class 'float'>
True
False
50
49.5

## Latihan Float

In [24]:
print(favoriteNumber)
print(type(favoriteNumber))
print(int(favoriteNumber))

Tigasetengah= 1.5
print(Tigasetengah)

Tigasetengah += 0.5
print(Tigasetengah)


phi = 3.14 #pembulatan
print(round(phi,1))

49.5
<class 'float'>
49
1.5
2.0
3.1

## Data Type String

## Data Type String

Peruntukannya untuk text dapat menggunakan kutip 1 atau 2 ' "

In [39]:
# Latihan kode disini (Ikuti dalam kelas)

print(name)
print(type(name)) #jenis data
print(len(name)) #jumlah karakter 

# name +=str(5) = hasilnya angger5 
# name += ' rizky firdaus' =hasilnya angger rizky firdaus
print(name[4])

# angka dengan string
nama = "angger rf"
nama +=str(39)
print(nama)


# len dengan ada spasi
print(len(nama))

# coba akses character pertama dan kedua
print(nama[0])
print(nama[1])

boy = "rizky"
girl = "onel"

#cara 1
print(len(boy) + len(girl))

#cara 2
gabungan = boy + girl
print(gabungan)
print(len(gabungan))

angger
<class 'str'>
6
e
angger rf39
11
a
n
9
rizkyonel
9

In [48]:
print (1 == '1')
print("Angger" == "AnGGeR")

# case senstitive

False
False

In [44]:
print (nama) 
print (nama.upper())
print(nama.capitalize())
print(nama.lower())

angger rf39
ANGGER RF39
Angger rf39
angger rf39

## Data Type Boolean

Yaitu True dan False

In [52]:
# Latihan kode disini (Ikuti dalam kelas)
# 1== true
# 0 == false

print(type(isHungry))
print(str(isHungry)+ " bohong")

<class 'bool'>
False bohong

In [56]:
print(name, isHungry, favoriteNumber)
print(f"Namaku {name}, angka favoritku {favoriteNumber}, sekarang aku sedang {isHungry}.")
print("Namaku"+ name + "angka favortiku" + favoriteNumber + "sekarang aku sedang" + isHungry)

angger False 49.5
Namaku angger, angka favoritku 49.5, sekarang aku sedang False.

TypeError: can only concatenate str (not "float") to str

# Data Type Array / Data Type For Collections of Data

Kalo w3school menyebutkannya sebagai [Python Collections (Arrays)](https://www.w3schools.com/python/python_lists.asp#:~:text=Python%20Collections%20(Arrays)).

----- note disini latihan menggunakaan markdown text yaa..

## List [ ]

In [73]:
kelompok = ["angger","rakun","batman"]
print(type(kelompok))
print(kelompok[2])
#jumlah value/data/element dalam list
print(len(kelompok))

#hapus rakun
kelompok.remove("rakun")
kelompok.append("rizky")
print(kelompok)

#mengakses indeks terakhir
#cara 1
n = len(kelompok) - 1
print(kelompok[n])
#cara 2
print(kelompok[-1])

<class 'list'>
batman
3
['angger', 'batman', 'rizky']
rizky
rizky

In [75]:
angcan = [29,39,49]
print(angcan)

#default ascending
angcan.sort()
print(angcan)

#descending 
angcan.sort(reverse=True)
print(angcan)

[29, 39, 49]
[29, 39, 49]
[49, 39, 29]

In [76]:
#pass reference
#buat copy data tapi data awal ga ikutan

bmMakanan= ["ayam","sate","capcay"]
bmMinuman= ["Yakult"]
bmMakanan==bmMinuman
print(bmMinuman)

['Yakult']

In [86]:
#.copy() agar ketika copy, variable awal ga ikutan
bmMinuman= bmMakanan.copy()
bmMinuman.append("kue")
print(bmMinuman)
print(bmMakanan)

print(bmMakanan[0:1])
print(bmMakanan[0:3])

['ayam', 'sate', 'capcay', 'kue']
['ayam', 'sate', 'capcay']
['ayam']
['ayam', 'sate', 'capcay']

## Tupple

In [5]:
listJagoan = ('batman', 'ant man', 'gundala')
print(listJagoan)
print(type(listJagoan))
print(len(listJagoan))
print(listJagoan[1])
listJagoan.index ('batman')

#tidak bisa di tambahin (append/remove)

('batman', 'ant man', 'gundala')
<class 'tuple'>
3
ant man

0

## SET

In [89]:
listNakal = ('nakal','nakal','nakal')

listNakal= set(listNakal)
print(listNakal)
print(len(listNakal))
print(type(listNakal))

{'nakal'}
1
<class 'set'>

## Dictionary { } 

keyname ; value

In [99]:
persianCat={
    'name': 'bubub',
    'age' : 1,
    'weight': 4.5,
    'heigh' : 50 
}

print(persianCat)
print(len(persianCat))

#akses value dengan keyname (bukan index)
print(persianCat['name'])

persianCat['isVaksin']= False
print(persianCat)

#mengubah value(jika keyname sudah ada)
persianCat['name'] = 'tokek'
print(persianCat)

{'name': 'bubub', 'age': 1, 'weight': 4.5, 'heigh': 50}
4
bubub
{'name': 'bubub', 'age': 1, 'weight': 4.5, 'heigh': 50, 'isVaksin': False}
{'name': 'tokek', 'age': 1, 'weight': 4.5, 'heigh': 50, 'isVaksin': False}

## Exercise

In [3]:
# list
kumpulanHuruf = [
    [0,'ayu','bambang','wk'],
    [1,'wwk','gwk','hwk'],
    [2,'bwk','cwk','rwk','gwk']
]

print(kumpulanHuruf)
print(kumpulanHuruf [1][3])
print(kumpulanHuruf [2][1])


# dictionary
listHCK12={
    'students' : ['lala', 'lili', 'lulu', 'lolo'],
    'buddy' : ['ayan','ayam','ayim','ayum'],
    'scores' : [100, 30, 50, 90]
}

print (listHCK12['students'][2], listHCK12['buddy'][2])
print(listHCK12['scores'])
print(max(listHCK12['scores']))
print(min(listHCK12['scores']))

[[0, 'ayu', 'bambang', 'wk'], [1, 'wwk', 'gwk', 'hwk'], [2, 'bwk', 'cwk', 'rwk', 'gwk']]
hwk
bwk

TypeError: 'builtin_function_or_method' object is not subscriptable

SyntaxError: unterminated string literal (detected at line 2) (3782498034.py, line 2)